.App {
  height: 100vh;
  /* display: flex;
  justify-content: center; */
  align-items: center;
}

button.modal-toggle,
.import-confirmed {
  background-color: darkgray;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
}

.total-wins {
  margin-bottom: 10px;
}
.data-table {
  margin-top: 10px;
  text-align: center;
}
.data-table th:hover {
  background-color: aliceblue;
}
.red {
  color: #dc3545;
}
.blue {
  color: #0dcaf0;
}
.alerts-onboarding {
  margin-top: 100px;
}
.as-toggle-button-groups {
  margin: 10px 0 10px 0;
}
.as-toggle-button-groups > label {
  margin: 0 10px 0 0;
  border-radius: 0.25rem !important;
}
.as-toggle-button-groups > label:hover {
  background-color: lightsteelblue;
  color: white;
}
.as-toggle-button-groups > .btn-check:checked + .btn:hover {
  background-color: cornflowerblue;
  color: lightsteelblue;
}
ul.sober {
  list-style-type: none;
  padding-left: 3px;
}